[user]
	name = Jens Langhammer
	email = jens.langhammer@beryju.org
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[core]
	editor = nano
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
