#!/usr/bin/env fish
set -x
{{- if (eq .chezmoi.os "darwin") }}
# Global options

# Set languages
defaults write NSGlobalDomain AppleLanguages -array \("en-GB"\)
defaults write NSGlobalDomain AppleLocale "en_DE"
# Show all file extensions
defaults write NSGlobalDomain AppleShowAllExtensions -bool true
# Sidebar icon size
defaults write NSGlobalDomain NSTableViewDefaultSizeMode -int 1

# Finder options
# Sort folders first
defaults write com.apple.finder _FXSortFoldersFirst -bool true
# Sort folders first (on desktop)
defaults write com.apple.finder _FXSortFoldersFirstOnDesktop -bool true
# Show quit menu for finder
defaults write com.apple.finder QuitMenuItem -bool true
# Don't show warning for file extension changing
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool true

# Dock options
# Don't re-order spaces
defaults write com.apple.dock mru-spaces -bool false
# Auto-hide dock
defaults write com.apple.dock autohide -bool true
# Disable recents
defaults write com.apple.dock show-recents -bool false
# Dock on the right
defaults write com.apple.dock orientation right
# Smallest icon size
defaults write com.apple.dock tilesize -int 16
# Auto-hide instantly
defaults write com.apple.dock autohide-time-modifier -float 0
{{- end }}
