[user]
        name = Jens Langhammer
        email = jens.langhammer@beryju.org
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPJ3bcGV/qZVUlecBsVGsxmJZGbZjsZx1NYl2AZJYEia
[core]
        excludesfile = /Users/jens/.gitignore_global
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[pull]
        rebase = true
[core]
        editor = nano
[init]
        defaultBranch = main
[url "ssh://git@github.com/"]
        pushInsteadOf = https://github.com/
[alias]
    ci = commit
    co = checkout
        wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
        fix-perm = "!f(){ git diff -p | grep -E '^(diff|old mode|new mode)' | sed -e 's/^old/NEW/;s/^new/old/;s/^NEW/new/' | git apply; }; f"
[gpg]
        format = ssh
[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
        gpgsign = true
[push]
        autoSetupRemote = true
[safe]
        directory = /work
        directory = /work
[rebase]
        autoStash = true
