
{{- if (eq .chezmoi.os "darwin") }}
format = """wks \
  $username\
  $directory\
  $kubernetes\
  $git_branch\
  $git_state\
  $git_status\
  $character\
  """
{{- else }}
format = """local \
  $username\
  $directory\
  $kubernetes\
  $git_branch\
  $git_state\
  $git_status\
  $character\
  """
{{- end }}

[character]
success_symbol = "\n[❯](bold green)"
error_symbol = "\n[✖](bold red)"

[username]
show_always = false

[kubernetes]
symbol = "ﴱ "
format = 'on [ﴱ $context \($namespace\)](bold bright-green) '
disabled = false

[aws]
disabled = true

[git_branch]
symbol = " "
